/*form*/
.x-form-readonly .x-form-field {
    color: #666666 !important;
}

.x-form-readonly .x-form-item-label {
    color: #666666 !important;
}

/* grid*/
.x-grid3-row-copy td
{
    border:2px dotted black !important;
}

.x-grid3-row-cut td
{
    border:2px dotted gray !important;
}

/* ui */
.pic-ui-link{cursor: hand; color: Blue; text-decoration: underline;}
.pic-ui-header{cursor: hand; color: Blue; text-decoration: underline;}

.pic-field-view { background-color: White; }

.pic-ctrl-file-link {
    white-space:nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.pic-ctrl-file-link a {
    cursor: hand;
    color: Blue;
    text-decoration: underline;
}

.pic-ctrl-file-invalid { border: 1px solid #c30 !important; background-repeat:repeat-x !important; background-position: bottom !important; background-image: url('/portal/js/ext4/resources/themes/images/default/grid/invalid_line.gif') !important; }

/* icons */
.pic-icon-add { background-image: url(../images/icons/add.gif) !important; background-repeat: no-repeat; }
.pic-icon-batchadd { background-image: url(../images/icons/add-batch.png) !important; background-repeat: no-repeat; }
.pic-icon-new { background-image: url(../images/icons/new.gif) !important; background-repeat: no-repeat; }
.pic-icon-edit { background-image: url(../images/icons/edit.gif) !important; background-repeat: no-repeat; }
.pic-icon-delete { background-image: url(../images/icons/delete.gif) !important; background-repeat: no-repeat; }
.pic-icon-delete2 { background-image: url(../images/icons/cross.gif) !important; background-repeat: no-repeat; }
.pic-icon-remove { background-image: url(../images/icons/remove.png) !important; background-repeat: no-repeat; }
.pic-icon-view { background-image: url(../images/icons/preview.png) !important; background-repeat: no-repeat; }
.pic-icon-cancel { background-image: url(../images/icons/cancel.gif) !important; background-repeat: no-repeat; }
.pic-icon-close { background-image: url(../images/icons/close.png) !important; background-repeat: no-repeat; }

.pic-icon-accept { background-image: url(../images/icons/accept.gif) !important; background-repeat: no-repeat; }
.pic-icon-approve { background-image: url(../images/icons/approve.png) !important; background-repeat: no-repeat; }
.pic-icon-reject { background-image: url(../images/icons/reject.gif) !important; background-repeat: no-repeat; }
.pic-icon-submit { background-image: url(../images/icons/accept.gif) !important; background-repeat: no-repeat; }
.pic-icon-save { background-image: url(../images/icons/save.gif) !important; background-repeat: no-repeat; }
.pic-icon-refresh { background-image: url(../images/icons/refresh.gif) !important; background-repeat: no-repeat; }
.pic-icon-refresh2 { background-image: url(../images/icons/refresh2.gif) !important; background-repeat: no-repeat; }
.pic-icon-more { background-image: url(../images/icons/arrow-double.gif) !important; background-repeat: no-repeat; }
.pic-icon-preview { background-image: url(../images/icons/preview.png) !important; background-repeat: no-repeat; }
.pic-icon-preview2 { background-image: url(../images/icons/preview2.png) !important; background-repeat: no-repeat; }
.pic-icon-attach { background-image: url(../images/icons/attach.gif) !important; background-repeat: no-repeat; }
.pic-icon-search { background-image: url(../images/icons/magnifier.png) !important; background-repeat: no-repeat; }
.pic-icon-search-hide { background-image: url(../images/icons/search_hide.gif) !important; background-repeat: no-repeat; }
.pic-icon-search-show { background-image: url(../images/icons/search_show.gif) !important; background-repeat: no-repeat; }
.pic-icon-erase { background-image: url(../images/icons/erase.gif) !important; background-repeat: no-repeat; }
.pic-icon-trace { background-image: url(../images/icons/arrow_cross.gif) !important; background-repeat: no-repeat; }
.pic-icon-checking { background-image: url(../images/icons/checking.gif) !important; background-repeat: no-repeat; }
.pic-icon-magnifier { background-image: url(../images/icons/magnifier.png) !important; background-repeat: no-repeat; }
.pic-icon-form { background-image: url(../images/icons/form.png) !important; background-repeat: no-repeat; }
.pic-icon-test { background-image: url(../images/icons/test.png) !important; background-repeat: no-repeat; }
.pic-icon-apply { background-image: url(../images/icons/apply.gif) !important; background-repeat: no-repeat; }
.pic-icon-reset { background-image: url(../images/icons/reset.png) !important; background-repeat: no-repeat; }

.pic-icon-select { background-image: url(../images/icons/accept.gif) !important; background-repeat: no-repeat; }
.pic-icon-copy { background-image: url(../images/icons/copy.gif) !important; background-repeat: no-repeat; }
.pic-icon-cut { background-image: url(../images/icons/cut.gif) !important; background-repeat: no-repeat; }
.pic-icon-paste { background-image: url(../images/icons/plaster.gif) !important; background-repeat: no-repeat; }
.pic-icon-plaster { background-image: url(../images/icons/plaster.gif) !important; background-repeat: no-repeat; }

.pic-icon-undo { background-image: url(../images/icons/undo.png) !important; background-repeat: no-repeat; }
.pic-icon-redo { background-image: url(../images/icons/redo.png) !important; background-repeat: no-repeat; }
.pic-icon-exec { background-image: url(../images/icons/exec.png) !important; background-repeat: no-repeat; }
.pic-icon-execute { background-image: url(../images/icons/execute.png) !important; background-repeat: no-repeat; }
.pic-icon-execute_back { background-image: url(../images/icons/execute_back.gif) !important; background-repeat: no-repeat; }
.pic-icon-run { background-image: url(../images/icons/run.gif) !important; background-repeat: no-repeat; }
.pic-icon-pause { background-image: url(../images/icons/pause.gif) !important; background-repeat: no-repeat; }
.pic-icon-stop { background-image: url(../images/icons/stop.gif) !important; background-repeat: no-repeat; }
.pic-icon-upload { background-image: url(../images/icons/upload.png) !important; background-repeat: no-repeat; }
.pic-icon-publish { background-image: url(../images/icons/publish.gif) !important; background-repeat: no-repeat; }
.pic-icon-unpublish { background-image: url(../images/icons/unpublish.gif) !important; background-repeat: no-repeat; }
.pic-icon-link { background-image: url(../images/icons/link.gif) !important; background-repeat: no-repeat; }

.pic-icon-object { background-image: url(../images/icons/object.png) !important; background-repeat: no-repeat; }
.pic-icon-browser { background-image: url(../images/icons/browser.png) !important; background-repeat: no-repeat; }
.pic-icon-task { background-image: url(../images/icons/task.gif) !important; background-repeat: no-repeat; }
.pic-icon-action { background-image: url(../images/icons/action.png) !important; background-repeat: no-repeat; }
.pic-icon-message { background-image: url(../images/icons/message.gif) !important; background-repeat: no-repeat; }
.pic-icon-messages { background-image: url(../images/icons/messages.gif) !important; background-repeat: no-repeat; }
.pic-icon-message-edit { background-image: url(../images/icons/message_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-forum { background-image: url(../images/icons/forum.gif) !important; background-repeat: no-repeat; }
.pic-icon-details { background-image: url(../images/icons/details.gif) !important; background-repeat: no-repeat; }
.pic-icon-spellcheck { background-image: url(../images/icons/spellcheck.gif) !important; background-repeat: no-repeat; }
.pic-icon-printer { background-image: url(../images/icons/printer.gif) !important; background-repeat: no-repeat; }
.pic-icon-email-go { background-image: url(../images/icons/email_go.gif) !important; background-repeat: no-repeat; }
.pic-icon-email-reply { background-image: url(../images/icons/email-reply.png) !important; background-repeat: no-repeat; }
.pic-icon-exchange { background-image: url(../images/icons/exchange.gif) !important; background-repeat: no-repeat; }

.pic-icon-txt { background-image: url(../images/icons/txtfile.gif) !important; background-repeat: no-repeat; }
.pic-icon-pdf { background-image: url(../images/icons/pdf.gif) !important; background-repeat: no-repeat; }
.pic-icon-xls { background-image: url(../images/icons/xls.gif) !important; background-repeat: no-repeat; }
.pic-icon-doc { background-image: url(../images/icons/doc.gif) !important; background-repeat: no-repeat; }
.pic-icon-prj { background-image: url(../images/icons/ms_project.gif) !important; background-repeat: no-repeat; }
.pic-icon-png { background-image: url(../images/icons/png.png) !important; background-repeat: no-repeat; }
.pic-icon-swf { background-image: url(../images/icons/swf.png) !important; background-repeat: no-repeat; }
.pic-icon-htm { background-image: url(../images/icons/htm.png) !important; background-repeat: no-repeat; }
.pic-icon-xml { background-image: url(../images/icons/xml.png) !important; background-repeat: no-repeat; }
.pic-icon-zip { background-image: url(../images/icons/zip.png) !important; background-repeat: no-repeat; }
.pic-icon-html { background-image: url(../images/icons/html.png) !important; background-repeat: no-repeat; }

.pic-icon-round-gray { background-image: url(../images/icons/round-gray.gif) !important; background-repeat: no-repeat; }
.pic-icon-round-blue { background-image: url(../images/icons/round-blue.gif) !important; background-repeat: no-repeat; }
.pic-icon-round-green { background-image: url(../images/icons/round-green.gif) !important; background-repeat: no-repeat; }
.pic-icon-round-orange { background-image: url(../images/icons/round-orange.gif) !important; background-repeat: no-repeat; }
.pic-icon-round-red { background-image: url(../images/icons/round-red.gif) !important; background-repeat: no-repeat; }
.pic-icon-square-gray { background-image: url(../images/icons/square-gray.gif) !important; background-repeat: no-repeat; }
.pic-icon-square-blue { background-image: url(../images/icons/square-blue.gif) !important; background-repeat: no-repeat; }
.pic-icon-square-green { background-image: url(../images/icons/square-green.gif) !important; background-repeat: no-repeat; }
.pic-icon-square-orange { background-image: url(../images/icons/square-orange.gif) !important; background-repeat: no-repeat; }
.pic-icon-square-red { background-image: url(../images/icons/square-red.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-cross { background-image: url(../images/icons/arrow_cross.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-redo { background-image: url(../images/icons/arrow_redo.png) !important; background-repeat: no-repeat; }
.pic-icon-arrow-recycle { background-image: url(../images/icons/arrow_recycle.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-recycle { background-image: url(../images/icons/arrow_recycle.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-refresh { background-image: url(../images/icons/arrow_refresh.png) !important; background-repeat: no-repeat; }
.pic-icon-arrow-undo { background-image: url(../images/icons/arrow_undo.png) !important; background-repeat: no-repeat; }
.pic-icon-arrow-up { background-image: url(../images/icons/arrow_up.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-down { background-image: url(../images/icons/arrow_down.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-left { background-image: url(../images/icons/arrow_left.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-right { background-image: url(../images/icons/arrow_right.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-up1 { background-image: url(../images/icons/arrow_up1.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-down1 { background-image: url(../images/icons/arrow_down1.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow-left1 { background-image: url(../images/icons/arrow_left1.png) !important; background-repeat: no-repeat; }
.pic-icon-arrow-right1 { background-image: url(../images/icons/arrow_right1.png) !important; background-repeat: no-repeat; }
.pic-icon-arrow-round { background-image: url(../images/icons/arrow_turnround1.gif) !important; background-repeat: no-repeat; }
.pic-icon-page-arrow { background-image: url(../images/icons/imagessave-icon.gif) !important; background-repeat: no-repeat; }

.pic-icon-exclam { background-image: url(../images/icons/exclam.gif) !important; background-repeat: no-repeat; }
.pic-icon-cog { background-image: url(../images/icons/cog.gif) !important; background-repeat: no-repeat; }
.pic-icon-newfolder { background-image: url(../images/icons/newfolder.gif) !important; background-repeat: no-repeat; }
.pic-icon-arrow { background-image: url(../images/icons/arrow.gif) !important; background-repeat: no-repeat; }
.pic-icon-db-import { background-image: url(../images/icons/db_import.png) !important; background-repeat: no-repeat; }
.pic-icon-money-add { background-image: url(../images/icons/money_add.gif) !important; background-repeat: no-repeat; }
.pic-icon-money-delete { background-image: url(../images/icons/money_delete.gif) !important; background-repeat: no-repeat; }
.pic-icon-tog-top { background-image: url(../images/icons/tog_top.gif) !important; background-repeat: no-repeat; }
.pic-icon-tog-bottom { background-image: url(../images/icons/tog_bottom.gif) !important; background-repeat: no-repeat; }
.pic-icon-tog-left { background-image: url(../images/icons/tog_left.gif) !important; background-repeat: no-repeat; }
.pic-icon-tog-right { background-image: url(../images/icons/tog_right.gif) !important; background-repeat: no-repeat; }

.pic-icon-arrow-join { background-image: url(../images/icons/arrow_join.png) !important; background-repeat: no-repeat; }
.pic-icon-arrow-right { background-image: url(../images/icons/arrow_right.png) !important; background-repeat: no-repeat; }
.pic-icon-arrow-redo { background-image: url(../images/icons/arrow_redo.png) !important; background-repeat: no-repeat; }
.pic-icon-arrow-right-medium { background-image: url(../images/icons/other/iconRightMedium.gif) !important; background-repeat: no-repeat; }
.pic-icon-asterisk-orange { background-image: url(../images/icons/asterisk_orange.png) !important; background-repeat: no-repeat; }
.pic-icon-bell { background-image: url(../images/icons/bell.png) !important; background-repeat: no-repeat; }
.pic-icon-book { background-image: url(../images/icons/book.png) !important; background-repeat: no-repeat; }
.pic-icon-book-open { background-image: url(../images/icons/book_open.png) !important; background-repeat: no-repeat; }
.pic-icon-building-go { background-image: url(../images/icons/building_go.png) !important; background-repeat: no-repeat; }
.pic-icon-building { background-image: url(../images/icons/building.png) !important; background-repeat: no-repeat; }
.pic-icon-cancel { background-image: url(../images/icons/cancel.png) !important; background-repeat: no-repeat; }
.pic-icon-application { background-image: url(../images/icons/application.png) !important; background-repeat: no-repeat; }
.pic-icon-application-add { background-image: url(../images/icons/application_add.png) !important; background-repeat: no-repeat; }
.pic-icon-application-cascade { background-image: url(../images/icons/application_cascade.png) !important; background-repeat: no-repeat; }
.pic-icon-application-delete { background-image:  url(../images/icons/application_delete.png) !important; background-repeat: no-repeat; }
.pic-icon-application-double { background-image: url(../images/icons/application_double.png) !important; background-repeat: no-repeat; }
.pic-icon-application-edit { background-image: url(../images/icons/application_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-application-error { background-image: url(../images/icons/application_error.png) !important; background-repeat: no-repeat; }
.pic-icon-application-form { background-image: url(../images/icons/application_form.png) !important; background-repeat: no-repeat; }
.pic-icon-application-lightning { background-image: url(../images/icons/application_lightning.png) !important; background-repeat: no-repeat; }
.pic-icon-application-side-boxes { background-image: url(../images/icons/application_side_boxes.png) !important; background-repeat: no-repeat; }
.pic-icon-application-split { background-image: url(../images/icons/application_split.png) !important; background-repeat: no-repeat; }
.pic-icon-application-view_columns { background-image: url(../images/icons/application_view_columns.png) !important; background-repeat: no-repeat; }
.pic-icon-application-view-gallery { background-image: url(../images/icons/application_view_gallery.png) !important; background-repeat: no-repeat; }
.pic-icon-application-view-list { background-image: url(../images/icons/application_view_list.png) !important; background-repeat: no-repeat; }
.pic-icon-application-view-tile { background-image: url(../images/icons/application_view_tile.png) !important; background-repeat: no-repeat; }
.pic-icon-application-xp { background-image: url(../images/icons/application_xp.png) !important; background-repeat: no-repeat; }
.pic-icon-attach { background-image: url(../images/icons/attach.png) !important; background-repeat: no-repeat; }
.pic-icon-award-gold {background-image: url(../images/icons/award_star_gold_2.png) !important}
.pic-icon-building { background-image: url(../images/icons/building.png) !important; background-repeat: no-repeat; }
.pic-icon-box { background-image: url(../images/icons/box.png) !important; background-repeat: no-repeat; }
.pic-icon-bricks { background-image: url(../images/icons/bricks.png) !important; background-repeat: no-repeat; }
.pic-icon-brick { background-image: url(../images/icons/brick.png) !important; background-repeat: no-repeat; }
.pic-icon-cog { background-image: url(../images/icons/cog.png) !important; background-repeat: no-repeat; }
.pic-icon-calendar { background-image: url(../images/icons/calendar.gif) !important; background-repeat: no-repeat; }
.pic-icon-calculator { background-image: url(../images/icons/calculator.png) !important; background-repeat: no-repeat; }
.pic-icon-calculator-edit { background-image: url(../images/icons/calculator_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-calendar-day { background-image: url(../images/icons/calendar_view_day.png) !important; background-repeat: no-repeat; }
.pic-icon-calendar-week { background-image: url(../images/icons/calendar_view_week.png) !important; background-repeat: no-repeat; }
.pic-icon-calendar-month { background-image: url(../images/icons/calendar_view_month.png) !important; background-repeat: no-repeat; }
.pic-icon-calendar-edit { background-image: url(../images/icons/calendar_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-clock-red { background-image: url(../images/icons/clock_red.png) !important; background-repeat: no-repeat; }
.pic-icon-chart{ background-image: url(../images/icons/chart.gif) !important; background-repeat: no-repeat; }
.pic-icon-chart-line{ background-image: url(../images/icons/chart_line.png) !important; background-repeat: no-repeat; }
.pic-icon-chart-organisation{ background-image: url(../images/icons/chart_organisation.png) !important; background-repeat: no-repeat; }

.pic-icon-comment { background-image: url(../images/icons/comment.png) !important; background-repeat: no-repeat; }
.pic-icon-comment-add { background-image: url(../images/icons/comment_add.png) !important; background-repeat: no-repeat; }
.pic-icon-comments { background-image: url(../images/icons/comments.png) !important; background-repeat: no-repeat; }
.pic-icon-creditcards { background-image: url(../images/icons/creditcards.png) !important; background-repeat: no-repeat; }
.pic-icon-cross { background-image: url(../images/icons/cross.png) !important; background-repeat: no-repeat; }
.pic-icon-database { background-image: url(../images/icons/database.png) !important; background-repeat: no-repeat; }
.pic-icon-database-go { background-image: url(../images/icons/database_go.png) !important; background-repeat: no-repeat; }
.pic-icon-time { background-image: url(../images/icons/time.png) !important; background-repeat: no-repeat; }
.pic-icon-time-lapse { background-image: url(../images/icons/time-lapse.png) !important; background-repeat: no-repeat; }
.pic-icon-date { background-image: url(../images/icons/date_time.ico) !important; background-repeat: no-repeat; }
.pic-icon-date2 { background-image: url(../images/icons/date_time-2.ico) !important; background-repeat: no-repeat; }
.pic-icon-date3 { background-image: url(../images/icons/date_time-3.ico) !important; background-repeat: no-repeat; }
.pic-icon-disconnect { background-image: url(../images/icons/disconnect.png) !important; background-repeat: no-repeat; }
.pic-icon-disk { background-image: url(../images/icons/disk.png) !important; background-repeat: no-repeat; }
.pic-icon-door-out { background-image: url(../images/icons/door_out.png) !important; background-repeat: no-repeat; }
.pic-icon-door-in { background-image: url(../images/icons/door_in.png) !important; background-repeat: no-repeat; }
.pic-icon-email { background-image: url(../images/icons/email.png) !important; background-repeat: no-repeat; }
.pic-icon-email-add { background-image: url(../images/icons/email_add.png) !important; background-repeat: no-repeat; }
.pic-icon-email-edit { background-image: url(../images/icons/email_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-email-go { background-image: url(../images/icons/email_go.png) !important; background-repeat: no-repeat; }
.pic-icon-email-go2 { background-image: url(../images/icons/email_go2.png) !important; background-repeat: no-repeat; }
.pic-icon-email-open { background-image: url(../images/icons/email_open.png) !important; background-repeat: no-repeat; }
.pic-icon-error { background-image: url(../images/icons/error.png) !important; background-repeat: no-repeat; }
.pic-icon-exclamation { background-image: url(../images/icons/exclamation.png) !important; background-repeat: no-repeat; }
.pic-icon-feed { background-image: url(../images/icons/feed.png) !important; background-repeat: no-repeat; }
.pic-icon-film { background-image: url(../images/icons/film.png) !important; background-repeat: no-repeat; }
.pic-icon-film-add { background-image: url(../images/icons/film_add.png) !important; background-repeat: no-repeat; }
.pic-icon-flag-red { background-image: url(../images/icons/flag_red.png) !important; background-repeat: no-repeat; }
.pic-icon-flag-green { background-image: url(../images/icons/flag_green.png) !important; background-repeat: no-repeat; }
.pic-icon-folder-edit { background-image: url(../images/icons/folder_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-folder-table { background-image: url(../images/icons/folder_table.png) !important; background-repeat: no-repeat; }
.pic-icon-flag-blue { background-image: url(../images/icons/flag_blue.png) !important; background-repeat: no-repeat; }
.pic-icon-lorry-flatbed { background-image: url(../images/icons/lorry_flatbed.png) !important; background-repeat: no-repeat; }
.pic-icon-folder { background-image: url(../images/icons/folder.png) !important; background-repeat: no-repeat; }
.pic-icon-folder-add { background-image: url(../images/icons/folder_add.png) !important; background-repeat: no-repeat; }
.pic-icon-folder-delete { background-image: url(../images/icons/folder_delete.png) !important; background-repeat: no-repeat; }
.pic-icon-folder-go { background-image: url(../images/icons/folder_go.png) !important; background-repeat: no-repeat; }
.pic-icon-grid { background-image: url(../images/icons/grid.png) !important; background-repeat: no-repeat; }
.pic-icon-member { background-image: url(../images/icons/member.png) !important; background-repeat: no-repeat; }
.pic-icon-group { background-image: url(../images/icons/group.png) !important; background-repeat: no-repeat; }
.pic-icon-group-add { background-image: url(../images/icons/group_add.png) !important; background-repeat: no-repeat; }
.pic-icon-group-delete { background-image: url(../images/icons/group_delete.png) !important; background-repeat: no-repeat; }
.pic-icon-group-key { background-image: url(../images/icons/group_key.png) !important; background-repeat: no-repeat; }
.pic-icon-help { background-image: url(../images/icons/help.png) !important; background-repeat: no-repeat; }
.pic-icon-image { background-image: url(../images/icons/image.png) !important; background-repeat: no-repeat; }
.pic-icon-info { background-image: url(../images/icons/information.png) !important; background-repeat: no-repeat; }
.pic-icon-ipod { background-image: url(../images/icons/ipod.png) !important; background-repeat: no-repeat; }
.pic-icon-key { background-image: url(../images/icons/key.png) !important; background-repeat: no-repeat; }
.pic-icon-key-add { background-image: url(../images/icons/key_add.png) !important; background-repeat: no-repeat; }
.pic-icon-key-delete { background-image: url(../images/icons/key_delete.png) !important; background-repeat: no-repeat; }
.pic-icon-layout { background-image: url(../images/icons/layout.png) !important; background-repeat: no-repeat; }
.pic-icon-layout-add { background-image: url(../images/icons/layout_add.png) !important; background-repeat: no-repeat; }
.pic-icon-layout-content { background-image: url(../images/icons/layout_content.png) !important; background-repeat: no-repeat; }
.pic-icon-lock { background-image: url(../images/icons/lock.png) !important; background-repeat: no-repeat; }
.pic-icon-lock-open { background-image: url(../images/icons/lock_open.png) !important; background-repeat: no-repeat; }
.pic-icon-lorry { background-image: url(../images/icons/lorry.png) !important; background-repeat: no-repeat; }
.pic-icon-lorry-go { background-image: url(../images/icons/lorry_go.png) !important; background-repeat: no-repeat; }
.pic-icon-lorry-add { background-image: url(../images/icons/lorry_add.png) !important; background-repeat: no-repeat; }
.pic-icon-lorry-delete { background-image: url(../images/icons/lorry_delete.png) !important; background-repeat: no-repeat; }
.pic-icon-lorry-error { background-image: url(../images/icons/lorry_error.png) !important; background-repeat: no-repeat; }
.pic-icon-magnifier { background-image: url(../images/icons/magnifier.png) !important; background-repeat: no-repeat; }
.pic-icon-map { background-image: url(../images/icons/map.png) !important; background-repeat: no-repeat; }
.pic-icon-money { background-image: url(../images/icons/money.png) !important; background-repeat: no-repeat; }
.pic-icon-money-add { background-image: url(../images/icons/money_add.png) !important; background-repeat: no-repeat; }
.pic-icon-money-delete { background-image: url(../images/icons/money_delete.png) !important; background-repeat: no-repeat; }
.pic-icon-new { background-image: url(../images/icons/new.png) !important; background-repeat: no-repeat; }
.pic-icon-package { background-image: url(../images/icons/package.png) !important; background-repeat: no-repeat; }
.pic-icon-package-add { background-image: url(../images/icons/package_add.png) !important; background-repeat: no-repeat; }
.pic-icon-package-delete { background-image: url(../images/icons/package_delete.png) !important; background-repeat: no-repeat; }
.pic-icon-package-go { background-image: url(../images/icons/package_go.png) !important; background-repeat: no-repeat; }
.pic-icon-page { background-image: url(../images/icons/page.png) !important; background-repeat: no-repeat; }
.pic-icon-page-go { background-image: url(../images/icons/page_go.png) !important; background-repeat: no-repeat; }
.pic-icon-page-edit { background-image: url(../images/icons/page_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-page-code { background-image: url(../images/icons/page_code.png) !important; background-repeat: no-repeat; }
.pic-icon-page-white { background-image: url(../images/icons/page_white.png) !important; background-repeat: no-repeat; }
.pic-icon-page-white-edit { background-image: url(../images/icons/page_white_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-page-white-stack { background-image: url(../images/icons/page_white_stack.png) !important; background-repeat: no-repeat; }
.pic-icon-page-white-code { background-image: url(../images/icons/page_white_code.png) !important; background-repeat: no-repeat; }
.pic-icon-page-white-code-red { background-image: url(../images/icons/page_white_code_red.png) !important; background-repeat: no-repeat; }
.pic-icon-pencil { background-image: url(../images/icons/pencil.png) !important; background-repeat: no-repeat; }
.pic-icon-phone { background-image: url(../images/icons/phone.png) !important; background-repeat: no-repeat; }
.pic-icon-picture { background-image: url(../images/icons/picture.png) !important; background-repeat: no-repeat; }
.pic-icon-pictures { background-image: url(../images/icons/pictures.png) !important; background-repeat: no-repeat; }
.pic-icon-photos { background-image: url(../images/icons/photos.png) !important; background-repeat: no-repeat; }
.pic-icon-plugin { background-image: url(../images/icons/plugin.gif) !important; background-repeat: no-repeat; }
.pic-icon-plugin-add { background-image: url(../images/icons/plugin_add.gif) !important; background-repeat: no-repeat; }
.pic-icon-plugin-delete { background-image: url(../images/icons/plugin_delete.gif) !important; background-repeat: no-repeat; }
.pic-icon-plugin-disabled { background-image: url(../images/icons/plugin_disabled.gif) !important; background-repeat: no-repeat; }
.pic-icon-printer { background-image: url(../images/icons/printer.png) !important; background-repeat: no-repeat; }
.pic-icon-report { background-image: url(../images/icons/report.png) !important; background-repeat: no-repeat; }
.pic-icon-resultset-first { background-image: url(../images/icons/resultset_first.png) !important; background-repeat: no-repeat; }
.pic-icon-resultset-last { background-image: url(../images/icons/resultset_last.png) !important; background-repeat: no-repeat; }
.pic-icon-resultset-next { background-image: url(../images/icons/resultset_next.png) !important; background-repeat: no-repeat; }
.pic-icon-resultset-previous { background-image: url(../images/icons/resultset_previous.png) !important; background-repeat: no-repeat; }
.pic-icon-script { background-image: url(../images/icons/script.png) !important; background-repeat: no-repeat; }
.pic-icon-shield { background-image: url(../images/icons/shield.png) !important; background-repeat: no-repeat; }
.pic-icon-sitemap { background-image: url(../images/icons/sitemap.png) !important; background-repeat: no-repeat; }
.pic-icon-shape-handles { background-image: url(../images/icons/shape_handles.png) !important; background-repeat: no-repeat; }
.pic-icon-shape-align-bottom { background-image: url(../images/icons/shape_align_bottom.png) !important; background-repeat: no-repeat; }
.pic-icon-table { background-image: url(../images/icons/table.png) !important; background-repeat: no-repeat; }
.pic-icon-table-edit { background-image: url(../images/icons/table_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-table-multiple { background-image: url(../images/icons/table_multiple.png) !important; background-repeat: no-repeat; }
.pic-icon-table-refresh { background-image: url(../images/icons/table_refresh.png) !important; background-repeat: no-repeat; }
.pic-icon-tag-blue-edit { background-image: url(../images/icons/tag_blue_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-tag { background-image: url(../images/icons/tag.png) !important; background-repeat: no-repeat; }
.pic-icon-telephone { background-image: url(../images/icons/telephone.png) !important; background-repeat: no-repeat; }
.pic-icon-text-signature { background-image: url(../images/icons/text_signature.png) !important; background-repeat: no-repeat; }
.pic-icon-tick { background-image: url(../images/icons/tick.png) !important; background-repeat: no-repeat; }
.pic-icon-user { background-image: url(../images/icons/user.png) !important; background-repeat: no-repeat; }
.pic-icon-user-add { background-image: url(../images/icons/user_add.gif) !important; background-repeat: no-repeat; }
.pic-icon-user-comment { background-image: url(../images/icons/user_comment.png) !important; background-repeat: no-repeat; }
.pic-icon-user-delete { background-image: url(../images/icons/user_delete.png) !important; background-repeat: no-repeat; }
.pic-icon-user-edit { background-image: url(../images/icons/user_edit.png) !important; background-repeat: no-repeat; }
.pic-icon-user-go { background-image: url(../images/icons/user_go.png) !important; background-repeat: no-repeat; }
.pic-icon-vcard { background-image: url(../images/icons/vcard.png) !important; background-repeat: no-repeat; }
.pic-icon-vector { background-image: url(../images/icons/vector.png) !important; background-repeat: no-repeat; }
.pic-icon-wrench { background-image: url(../images/icons/wrench.png) !important; background-repeat: no-repeat; }
.pic-icon-world { background-image: url(../images/icons/world.png) !important; background-repeat: no-repeat; }
.pic-icon-zoom { background-image: url(../images/icons/zoom.png) !important; background-repeat: no-repeat; }
.pic-icon-stat { background-image: url(../images/icons/stat.png) !important; background-repeat: no-repeat; }
.pic-icon-addrbook { background-image: url(../images/icons/addrbook.png) !important; background-repeat: no-repeat; }
.pic-icon-cellphone { background-image: url(../images/icons/cellphone.png) !important; background-repeat: no-repeat; }
.pic-icon-cellphone2 { background-image: url(../images/icons/cellphone2.gif) !important; background-repeat: no-repeat; }
.pic-icon-docfile { background-image: url(../images/icons/docfile.gif) !important; background-repeat: no-repeat; }
.pic-icon-star { background-image: url(../images/icons/star.png) !important; background-repeat: no-repeat; }
.pic-icon-statistics { background-image: url(../images/icons/statistics.png) !important; background-repeat: no-repeat; }

.pic-icon-device { background-image: url(../images/icons/device.gif) !important; background-repeat: no-repeat; }
.pic-icon-device-add { background-image: url(../images/icons/device-add.gif) !important; background-repeat: no-repeat; }
.pic-icon-device-del { background-image: url(../images/icons/device-del.gif) !important; background-repeat: no-repeat; }
.pic-icon-device-link { background-image: url(../images/icons/device-link.gif) !important; background-repeat: no-repeat; }
.pic-icon-device-alert { background-image: url(../images/icons/device-alert.gif) !important; background-repeat: no-repeat; }
.pic-icon-device-run { background-image: url(../images/icons/device-run.gif) !important; background-repeat: no-repeat; }

.pic-icon-square { background-image: url(../images/icons/square.gif) !important; background-repeat: no-repeat; }
.pic-icon-rhombus { background-image: url(../images/icons/rhombus.gif) !important; background-repeat: no-repeat; }
.pic-icon-rhombus2 { background-image: url(../images/icons/rhombus2.gif) !important; background-repeat: no-repeat; }

.pic-icon-align-bottom { background-image: url(../images/icons/align_bottom.gif) !important; background-repeat: no-repeat; }
.pic-icon-align-center { background-image: url(../images/icons/align_center.gif) !important; background-repeat: no-repeat; }
.pic-icon-align-left { background-image: url(../images/icons/align_left.gif) !important; background-repeat: no-repeat; }
.pic-icon-align-right { background-image: url(../images/icons/align_right.gif) !important; background-repeat: no-repeat; }
.pic-icon-align-top { background-image: url(../images/icons/align_top.gif) !important; background-repeat: no-repeat; }