<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="." />
		<add key="Database" value="BITC_Pic" />
		<add key="OutputDir" value=".\GENERATED\" />
		<add key="Namespace" value="PIC.Portal" />
    <add key="Partial" value="true" />
    <add key="PropertyEvents" value="true" />
    <add key="Validation" value="false" />
  </appSettings>
</configuration>
