<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value=".\SQLEXPRESS" />
    <add key="Database" value="HCSH_PicBiz" />
    <add key="OutputDir" value=".\GENERATED\" />
    <add key="Namespace" value="PIC.Biz" />
    <add key="Partial" value="true" />
    <add key="PropertyEvents" value="true" />
    <add key="Validation" value="false" />
  </appSettings>
</configuration>