<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PIC" type="PIC.Common.Configuration.ConfigurationHandler, PIC.Core"/>
    <!--<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PIC.Portal.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>-->
  </configSections>
  <!--<PIC configSource="PIC.config"/>-->
  <PIC>
    <System Source="../pic.ptl.config"/>
  </PIC>
  <appSettings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="3049C51F1722673C113BB077CDCCDE167185152D9D0A49F254D478C75A461053405D8088F5AB1D87F2C9CFD34EE37F492B51B20883226CFCAB52FA9AE0D3570C" decryptionKey="82CF4219DCDB289EC37B5FBBC551BC9ED01E284D2F6137B2" validation="SHA1"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--Form认证设置Start-->
    <authentication mode="Forms">
      <forms name=".PICFORMSAUTH" defaultUrl="/portal/Default.aspx" loginUrl="/portal/Login.aspx" enableCrossAppRedirects="true" timeout="500"/>
    </authentication>
    <authorization>
      <!--<deny users="?"/>-->
      <allow users="*"/>
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="/portal/ErrPage.aspx">
      <error statusCode="400" redirect="/portal/ErrPage.aspx?sc=400"/>
      <error statusCode="403" redirect="/portal/ErrPage.aspx?sc=403"/>
      <error statusCode="404" redirect="/portal/ErrPage.aspx?sc=404"/>
      <error statusCode="500" redirect="/portal/ErrPage.aspx?sc=500"/>
    </customErrors>
    <httpRuntime requestValidationMode="2.0" />
    <pages autoEventWireup="true" compilationMode="Always" validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Modules/Common/Doc/Upload.aspx">
      <system.web>
          <httpRuntime maxRequestLength="215100" executionTimeout="300" />
          <!-- 
			maxRequestLength is in KB units.  2151 KB is just over 2 MB, this ensures that
			a 2 MB plus some other POST overhead will be accepted. The default is 4 MB. The
			maximum value is 2097151 for .Net 2.0 and 1048576 for .Net 1.x.
				
			executionTimeout is in seconds.  It should be long enough for the entire to be uploaded
			and for page execution to complete.
          -->
      </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <remove name="ContextModule"/>
      <add name="ContextModule" type="PIC.Portal.Web.ContextModule, PIC.Portal"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <client>
      <endpoint address="http://localhost:8345/appservices/UserSessionService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserSessionService"
          contract="UserSessionService.IUserSessionService" name="BasicHttpBinding_IUserSessionService" />
      <endpoint address="http://localhost:8345/appservices/BpmService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IBpmService" contract="BpmService.IBpmService"
          name="BasicHttpBinding_IBpmService" />
      <endpoint address="http://localhost:8345/appservices/ScheduleService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScheduleService"
          contract="ScheduleService.IScheduleService" name="BasicHttpBinding_IScheduleService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserSessionService" />
        <binding name="BasicHttpBinding_IBpmService" />
        <binding name="BasicHttpBinding_IScheduleService" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>