<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="site.master.cs" Inherits="PIC.Portal.Web.Masters.Ext.Site" %>

<html>
<head runat="server">
    <title id="pageTitle" runat="server">PIC</title>
    
    <link href="/portal/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/portal/App_Themes/Ext/css/ext-all.css" rel="stylesheet" type="text/css" />
    <link href="/portal/App_Themes/Ext/css/xtheme-blue.css" rel="stylesheet" type="text/css" />
    <link href="/portal/App_Themes/Ext/ax-all.css" rel="stylesheet" type="text/css" />
    <link href="/portal/App_Themes/Ext/portal.css" rel="stylesheet" type="text/css" />
    
    <!-- ext¼°jQuery¿â -->
    <script src="/portal/js/lib/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="/portal/js/ext/adapter/jquery/ext-jquery-adapter-debug.js" type="text/javascript"></script>
    <script src="/portal/js/ext/ext-all-debug.js" type="text/javascript"></script>
    <!--<script src="/portal/js/ext/adapter/jquery/ext-jquery-adapter.js" type="text/javascript"></script>
    <script src="/portal/js/ext/ext-all.js" type="text/javascript"></script>-->
    <script src="/portal/js/ext/locale/ext-lang-zh_CN.js" type="text/javascript"></script>
    
    <script src="/portal/js/ext/ux/CheckColumn.js" type="text/javascript"></script>

    <script src="/portal/js/lib/jquery.plug-ins.js" type="text/javascript"></script>
    <script src="/portal/js/lib/jquery.form.js" type="text/javascript"></script>
    <script src="/portal/js/common.js" type="text/javascript"></script>
    <script src="/portal/js/pgctrl.js" type="text/javascript"></script>
    <script src="/portal/js/pgctrl-ext.js" type="text/javascript"></script>

    <script src="/portal/js/pgfunc.js" type="text/javascript"></script>
    <script src="/portal/js/pgfunc-ext.js" type="text/javascript"></script>

    <script src="/portal/js/ext/ax-all.js" type="text/javascript"></script>
    
    <asp:ContentPlaceHolder ID="HeadHolder" runat="server"></asp:ContentPlaceHolder>
</head>
<body id="pageBody" runat="server" style="margin:0px">
    <form id="pageForm" runat="server">
    <asp:ContentPlaceHolder ID="BodyHolder" runat="server"></asp:ContentPlaceHolder>
    </form>
</body>
</html>
