<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PIC" type="PIC.Common.Configuration.ConfigurationHandler, PIC.Core"/>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PIC.Portal.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--<PIC configSource="PIC.config"/>-->
  <PIC>
    <System Source="../pic.sys.config"/>
  </PIC>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="3049C51F1722673C113BB077CDCCDE167185152D9D0A49F254D478C75A461053405D8088F5AB1D87F2C9CFD34EE37F492B51B20883226CFCAB52FA9AE0D3570C" decryptionKey="82CF4219DCDB289EC37B5FBBC551BC9ED01E284D2F6137B2" validation="SHA1"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--Form认证设置Start-->
    <authentication mode="Forms">
      <forms name=".PICFORMSAUTH" defaultUrl="/portal/Default.aspx" loginUrl="/portal/Login.aspx" enableCrossAppRedirects="true" timeout="500"/>
    </authentication>
    <authorization>
      <!--<deny users="?"/>-->
      <allow users="*"/>
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="/portal/ErrPage.aspx">
      <error statusCode="404" redirect="/portal/ErrPage.aspx?sc=404"/>
      <error statusCode="403" redirect="/portal/ErrPage.aspx?sc=403"/>
    </customErrors>
    <pages autoEventWireup="true" compilationMode="Always" validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <remove name="ContextModule"/>
      <add name="ContextModule" type="PIC.Portal.Web.ContextModule, PIC.Portal"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8345/portalservices/UserSessionService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserSessionService" contract="USService.IUserSessionService" name="WSHttpBinding_IUserSessionService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <customBinding>
        <binding name="binaryBinding">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647"/>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
            <extendedProtectionPolicy policyEnforcement="Never"/>
          </httpTransport>
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUserSessionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>