##FILENAME:${table.GetClassName()}List.aspx.cs
##
## Castle ActiveRecord entity class
##
using System;
using System.Linq;
using System.Collections.Generic;
using System.Web;
using System.Web.UI;
using System.Web.UI.WebControls;
using Castle.ActiveRecord;
using NHibernate;
using NHibernate.Criterion;
using Aim.Data;
using Aim.Web;
using Aim.Web.UI;
using Aim.Portal.Entity;
using Aim.Portal.Rule;

namespace $namespace
{
    public partial class ${table.GetClassName()}List : EPCListPage
    {
        #region 变量

        private IList<${table.GetClassName()}> ents = null;

        #endregion

        #region 构造函数

        #endregion

        #region ASP.NET 事件

        protected void Page_Load(object sender, EventArgs e)
        {            
            ${table.GetClassName()} ent = null;
            switch (this.RequestAction)
            {
                case RequestActionEnum.Delete:
                    ent = this.GetTargetData<${table.GetClassName()}>();
                    ent.DoDelete();
                    this.SetMessage("删除成功！");
                    break;
                default:
                    if (RequestActionString == "batchdelete")
                    {
						IList<object> idList = RequestData.GetList<object>("IdList");

						if (idList != null && idList.Count > 0)
						{                   
							${table.GetClassName()}.DoBatchDelete(idList.ToArray());
						}
                    } 
                    else 
                    {
						ents = ${table.GetClassName()}Rule.FindAll(SearchCriterion);
						this.PageState.Add("${table.GetClassName()}List", ents);
					}
					break;
            }
            
        }

        #endregion

        #region 私有方法

        #endregion
    }
}
