##FILENAME:${table.GetClassName()}List.aspx
##
## Castle ActiveRecord ListPage
##

<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/Ext/Site.Master" AutoEventWireup="true" CodeBehind="${table.GetClassName()}List.aspx.cs" Inherits="$namespace.${table.GetClassName()}List" %>

<asp:Content ID="HeadContent" ContentPlaceHolderID="HeadHolder" runat="server">

<script type="text/javascript">
    var EditWinStyle = CenterWin("width=650,height=600,scrollbars=yes");
    var EditPageUrl = "${table.GetClassName()}Edit.aspx";
    
    var store, myData;
    var pgBar, schBar, tlBar, titPanel, grid, viewport;

    function onPgLoad() {
        setPgUI();
    }

    function setPgUI() {

        // 表格数据
        myData = {
            total: AimSearchCrit["RecordCount"],
            records: AimState["${table.GetClassName()}List"] || []
        };

        // 表格数据源
        store = new Ext.ux.data.AimJsonStore({
            dsname: '${table.GetClassName()}List',
            idProperty: '${table.GetPKField().Column_Name}',
            data: myData,
            fields: [
#set ($i = 0)
#foreach ($f in $fields)
#set ($i = $i+1)
#if($i==$fields.length)
			{ name: '${f.GetPropertyName()}' }
#else
			{ name: '${f.GetPropertyName()}' },
#end
#end
			]
        });

        // 分页栏
        pgBar = new Ext.ux.AimPagingToolbar({
            pageSize: AimSearchCrit["PageSize"],
            store: store
        });

        // 搜索栏
        schBar = new Ext.ux.AimSchPanel({
			store: store, 
            items: [
                { fieldLabel: '名称', id: 'Name', schopts: { qryopts: "{ mode: 'Like', field: 'Name' }"} },
                { fieldLabel: '编码', id: 'Code', schopts: { qryopts: "{ mode: 'Like', field: 'Code' }"} },
                { fieldLabel: '创建人', id: 'CreateName', schopts: { qryopts: "{ mode: 'Like', field: 'CreateName' }"} }]
            });

            // 工具栏
            tlBar = new Ext.ux.AimToolbar({
                items: [{
                    text: '添加',
                    iconCls: 'aim-icon-add',
                    handler: function() {
                        ExtOpenGridEditWin(grid, EditPageUrl, "c", EditWinStyle);
                    }
                }, {
                    text: '修改',
                    iconCls: 'aim-icon-edit',
                    handler: function() {
                        ExtOpenGridEditWin(grid, EditPageUrl, "u", EditWinStyle);
                    }
                }, {
                    text: '删除',
                    iconCls: 'aim-icon-delete',
                    handler: function() {
						var recs = grid.getSelectionModel().getSelections();
						if (!recs || recs.length <= 0) {
							AimDlg.show("请先选择要删除的记录！");
							return;
						}
						
                        if (confirm("确定删除所选记录？")) {
                            ExtBatchOperate('batchdelete', recs, null, null, onExecuted);
                        }
                    }
                }, '-', { 
					text: '导出Excel', 
					iconCls: 'aim-icon-xls', 
					handler: function() {
                        ExtGridExportExcel(grid, { store: null, title: '标题' });
                    }
                }, '->', { text: '查询:' },
                new Ext.app.AimSearchField({ store: store, schbutton: true, qryopts: "{ type: 'fulltext' }" }),
                '-',
                {
                    text: '复杂查询',
                    iconCls: 'aim-icon-search',
                    handler: function() {
                        schBar.toggleCollapse(false);

                        setTimeout("viewport.doLayout()", 50);
                    }
}]
                });

                // 工具标题栏
                titPanel = new Ext.ux.AimPanel({
                    tbar: tlBar,
                    items: [schBar]
                });

                // 表格面板
                grid = new Ext.ux.grid.AimGridPanel({
                    store: store,
                    region: 'center',
                    //autoExpandColumn: 'Name',
                    columns: [
                    { id: '${table.GetPKField().Column_Name}', header: '标识', dataIndex: '${table.GetPKField().Column_Name}', hidden: true },
                    new Ext.ux.grid.AimRowNumberer(),
                    new Ext.ux.grid.AimCheckboxSelectionModel(),
#set ($i = 0)
#foreach ($f in $fields)
#set ($i = $i+1)
#if(${f.GetPropertyName()}!=${table.GetPKField().Column_Name})
#if($i==$fields.length)
					{ id: '${f.GetPropertyName()}', dataIndex: '${f.GetPropertyName()}', header: '${f.GetPropertyName()}', width: 100, #if(${f.GetPropertyName()}=="Name") linkparams: { url: EditPageUrl, style: EditWinStyle }, #end sortable: true }
#else
					{ id: '${f.GetPropertyName()}', dataIndex: '${f.GetPropertyName()}', header: '${f.GetPropertyName()}', width: 100, #if(${f.GetPropertyName()}=="Name") linkparams: { url: EditPageUrl, style: EditWinStyle }, #end sortable: true },
#end
#end
#end
                    ],
                    bbar: pgBar,
                    tbar: titPanel
                });

                // 页面视图
                viewport = new Ext.ux.AimViewport({
                    layout: 'border',
                    items: [{ xtype: 'box', region: 'north', applyTo: 'header', height: 30 }, grid]
                });
            }

            // 提交数据成功后
            function onExecuted() {
                store.reload();
            }
    
    </script>

</asp:Content>
<asp:Content ID="BodyContent" ContentPlaceHolderID="BodyHolder" runat="server">
    <div id="header" style="display:none;"><h1>标题</h1></div>
</asp:Content>

