##FILENAME:${table.GetClassName()}Edit.aspx.cs
##
## Castle ActiveRecord entity class
##
using System;
using System.Linq;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.UI;
using System.Web.UI.WebControls;
using Aim.Data;
using Aim.Web;
using Aim.Web.UI;
using Aim.Portal.Entity;
using Aim.Portal.Rule;

namespace $namespace
{
    public partial class ${table.GetClassName()}Edit : EPCBasePage
    {
        #region 变量

        string op = String.Empty; // 用户编辑操作
        string id = String.Empty;   // 对象id
        string type = String.Empty; // 对象类型

        #endregion

        #region ASP.NET 事件

        protected void Page_Load(object sender, EventArgs e)
        {
            op = RequestData.Get<string>("op");
            id = RequestData.Get<string>("id");
            type = RequestData.Get<string>("type");

            ${table.GetClassName()} ent = null;

            switch (this.RequestAction)
            {
                case RequestActionEnum.Update:
                    ent = this.GetMergedData<${table.GetClassName()}>();
                    ent.DoUpdate();
                    this.SetMessage("修改成功！");
                    break;
                case RequestActionEnum.Insert:
                case RequestActionEnum.Create:
                    ent = this.GetPostedData<${table.GetClassName()}>();

                    // 设置项目信息
                    ent.PrjId = PrjBasicInfo.Id;

                    ent.CreateId = UserInfo.UserID;
                    ent.CreateName = UserInfo.Name;
                    ent.DoCreate();
                    this.SetMessage("新建成功！");
                    break;
                case RequestActionEnum.Delete:
                    ent = this.GetTargetData<${table.GetClassName()}>();
                    ent.DoDelete();
                    this.SetMessage("删除成功！");
                    return;
            }

            if (op != "c" && op != "cs")
            {
                if (!String.IsNullOrEmpty(id))
                {
                    ent = ${table.GetClassName()}.Find(id);
                }
                
                this.SetFormData(ent);
            }
        }

        #endregion
    }
}
