<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="PIC.Portal.Mobile.SiteMaster" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
    <title>百联沪通客户管理系统</title>

    <link href="/mobile/Styles/oreilly.css" rel="stylesheet" type="text/css" />

    <script src="/mobile/Scripts/lib/ext/sencha-touch.js" type="text/javascript"></script>

    <script src="/mobile/Scripts/oreilly/oreilly-all-debug.js" type="text/javascript"></script>

    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
</body>
</html>
