<?xml version="1.0" encoding="utf-8"?>
<System>
  <Configurations>
    <AppSettings>
      <ResourceFolder>D:\PiS\Workspaces\Projs\BiTC\Code\PiC_BiTC\Framework\PIC.Resources\Deploy</ResourceFolder>
      <CacheProvider>PIC.Portal.Web.WebCacheProvider, PIC.Portal</CacheProvider>
      <PortalServiceProvider>PIC.AppServices.Providers.AppPortalServiceProvider, PIC.AppServices</PortalServiceProvider>
      <BpmServiceProvider>PIC.Portal.ServicesProvider.BpmServiceProvider, PIC.Portal.ServicesProvider</BpmServiceProvider>
      <ScheduleServiceProvider>PIC.Portal.ServicesProvider.ScheduleServiceProvider, PIC.Portal.ServicesProvider</ScheduleServiceProvider>
      <PortalVirtualPathProvider>PIC.Portal.Web.VirtualPathProvider.ExtPortalVirtualPathProvider, PIC.Portal.Web.VirtualPathProvider.Ext</PortalVirtualPathProvider>
      <TempDbConnectionString>Data Source=(local);Initial Catalog=BITC_PicTemp;User ID=sa;Password=sasa;Persist Security Info=True;Packet Size=4096;MultipleActiveResultSets=True;Max Pool Size=250;Pooling=True;</TempDbConnectionString>
	    <License>../license.config</License>
    </AppSettings>
    <ConfigurationSection>
      <Section Name="Log" Type="PIC.Common.Configuration.LogConfiguration, PIC.Core" />
      <Section Name="Services" Type="PIC.Common.Configuration.ServiceConfiguration, PIC.Core" />
      <Section Name="ThirdParties" Type="PIC.Common.Configuration.ThirdPartyConfiguration, PIC.Core" />
    </ConfigurationSection>
    <ConfigurationData>
      <Log>
        <Log4net>
          <log4net>
            <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
              <param name="File" value="app.log" />
              <param name="AppendToFile" value="true" />
              <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
              </layout>
            </appender>
            <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
              <param name="File" value="app.log" />
              <param name="AppendToFile" value="true" />
              <param name="RollingStyle" value="Composite" />
              <param name="DatePattern" value="yyyyMMdd" />
              <param name="MaxSizeRollBackups" value="10" />
              <param name="MaximumFileSize" value="1MB" />
              <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
              </layout>
              <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="DEBUG" />
                <param name="LevelMax" value="WARN" />
              </filter>
            </appender>
            <root>
              <level value="DEBUG" />
            </root>
            <logger name="Default">
              <level value="DEBUG" />
              <appender-ref ref="LogFileAppender" />
            </logger>
          </log4net>
        </Log4net>
      </Log>
      <Services>
        <!-- UserSessionService配置，Session刷新时间为100秒，用户Session过时时间为100分钟，
        客户端过时时间（客户端20分钟内无动静）为20分钟, 客户端Session刷新时间（为防止过于频繁访问Service,一些信息存在Web Session中，没隔一段时间刷新一次）， 
        -->
        <UserSession ScanInterval="100" TimeOut="100" ClientTimeOut="20" WebSessionRefreshIntervalSeconds="10" />
      </Services>
      <ThirdParties>
        <activerecord>
          <config>
            <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
            <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
            <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
            <add key="connection.connection_string" value="Server=(local);DataBase=BITC_Pic;User ID=sa;Password=sasa;Persist Security Info=True;Packet Size=4096;MultipleActiveResultSets=True;Max Pool Size=250;Pooling=True;"/>
            <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
          </config>
          <config type="PIC.Doc.Model.DocModelBase`1, PIC.Portal">
            <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
            <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
            <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
            <add key="connection.connection_string" value="Server=(local);DataBase=BITC_PicDoc;User ID=sa;Password=sasa;Persist Security Info=True;Packet Size=4096;MultipleActiveResultSets=True;Max Pool Size=250;Pooling=True;"/>
            <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
          </config>
        </activerecord>
      </ThirdParties>
    </ConfigurationData>
  </Configurations>
</System>