<?xml version="1.0" encoding="utf-8"?>
<System>
  <Configurations>
    <AppSettings>
      <!--<UploadServiceUrl>http://localhost:8208/portalservices/UploadService.svc</UploadServiceUrl>
      <UploadFolder>D:\Projects\PIC\tmp\uploadfoler</UploadFolder>-->
      <FlowFileFolder>D:\PiS\Workspaces\Projs\BiTC\Code\Framework\PIC.Resources\Deploy\Flows</FlowFileFolder>
      <CacheProvider>PIC.Portal.Web.WebCacheProvider, PIC.Portal</CacheProvider>
      <TempDbConnectionString>Data Source=(local);Initial Catalog=BITC_PicTemp;User ID=sa;Password=sasa;Persist Security Info=True</TempDbConnectionString>
      <PortalServiceProvider>PIC.Portal.ServicesProvider.WebPortalServiceProvider, PIC.Portal.ServicesProvider</PortalServiceProvider>
      <ScheduleServiceProvider>PIC.Portal.ServicesProvider.ScheduleServiceProvider, PIC.Portal.ServicesProvider</ScheduleServiceProvider>
      <PortalVirtualPathProvider>PIC.Portal.Web.VirtualPathProvider.ExtPortalVirtualPathProvider, PIC.Portal.Web.VirtualPathProvider.Ext</PortalVirtualPathProvider>
	    <License>../license.config</License>
    </AppSettings>
    <ConfigurationSection>
      <Section Name="Services" Type="PIC.Common.Configuration.ServiceConfiguration, PIC.Core" />
      <Section Name="ThirdParties" Type="PIC.Common.Configuration.ThirdPartyConfiguration, PIC.Core" />
    </ConfigurationSection>
    <ConfigurationData>
      <Services>
        <!-- UserSessionService配置，Session刷新时间为100秒，用户Session过时时间为100分钟，客户端过时时间（客户端20分钟内无动静）为20分钟 -->
        <UserSession ScanInterval="100" TimeOut="100" ClientTimeOut="20" />
      </Services>
      <ThirdParties>
        <activerecord>
          <config>
            <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
            <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
            <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
            <add key="connection.connection_string" value="Server=(local);DataBase=BITC_Pic;User ID=sa;Password=sasa;Persist Security Info = True"/>
            <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
          </config>
          <config type="PIC.Doc.Model.DocModelBase`1, PIC.Portal">
            <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
            <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
            <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
            <add key="connection.connection_string" value="Server=(local);DataBase=BITC_PicDoc;User ID=sa;Password=sasa;Persist Security Info = True"/>
            <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
          </config>
          <config type="PIC.Biz.Model.BizModelBase`1, PIC.Biz">
            <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
            <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
            <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
            <add key="connection.connection_string" value="Server=(local);DataBase=BITC_PicBiz;User ID=sa;Password=sasa;Persist Security Info = True"/>
            <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
          </config>
        </activerecord>
      </ThirdParties>
    </ConfigurationData>
  </Configurations>
</System>